*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.settings/
/.project
/.classpath
/target/
/output/
/bin/

/.idea/
*.iml
.Rproj.user

data/MM_NetworkDataset_07272020.gdb
data/agrc_network.zip
data/gtfs.zip
data/final_persons.csv
data/final_trips.csv
data/final_population.xml.gz
R/coordinates

.Rhistory
**/scenarios

*.csv
